<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Section -->
@if (user) {
<section class="py-5" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-5 shadow-sm border-0 rounded-4 text-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Avatar" width="120"
                        height="120" class="rounded-circle mb-4 shadow-sm" />

                    <h3 class="fw-bold">{{ user.username }}</h3>
                    <p class="text-muted mb-1">{{ user.email }}</p>
                    <p class="text-muted mb-1">Rol: {{ user.role | titlecase}}</p>
                    <p class="text-muted">Miembro desde: {{ user.created_at_date | date }}</p>

                    @if (user.role === 'INSTRUCTOR') {
                    <div class="mt-4">
                        <a routerLink="/admin-courses" class="btn btn-outline-primary px-4">
                            Administrar cursos
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

}

<!-- Footer -->
<app-footer></app-footer>