.card {
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.botonCart {
  width: 50%;
}

@media (max-width: 991px) {
  .botonCart {
    width: 100%;
  }
}
